version: 2
jobs:
  test:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: npm ci
      - run: npm run lint
      - run: npm run pre:test
      - run: npm test
      - run: npx codecov
  release:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run: npm install
      - run: npm run build
      - run: npx semantic-release

workflows:
  version: 2
  publish:
    triggers:
    jobs:
      - test
      - release:
          requires:
            - test
          filters:
            branches:
              only: master
